doctype html
html(lang="zh-Hant")
  block vars
    - var hasSwiper = true
    - var hasGsap = true
    - var hasAnimate = true
    - var header_title = ''
    - var author = ''
    - var og_title = 'NJ Huang 網頁設計作品集｜NJ Huang\'s Portfolio'
    - var og_image = './images/facebook_1200x630.jpg'
    - var og_url = 'https://njhuang-code.github.io/njportfolio/'
    - var og_desc = '前端開發,網頁設計師,網頁設計,前端網頁,前端設計,行銷活動網頁,新聞網頁,切版,UI,UX,Design,website| NJ Portfolio'
    - var meta_keyword = '前端開發,網頁設計師,網頁設計,前端網頁,前端設計,行銷活動網頁,新聞網頁,切版,UI,UX,Design,website| NJ Portfolio'
    - var date_publish = '2025-06-22'
  head
    block head
      meta(charset="UTF-8")
      meta(http-equiv='X-UA-Compatible', content="IE=edge, Chrome=1")
      meta(http-equiv="Pragma" content="no-cache")
      meta(http-equiv="Expires" content="0")
      //- mobile only
      meta(name="HandheldFriendly" content="true")
      meta(name="MobileOptimized" content="320")
      meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0 , viewport-fit=cover")
      //- meta info
      title #{og_title ? og_title + '' + author : ''}
      meta(property='description', content=og_desc ? og_desc : '')
      meta(property='og:title', content=og_title ? og_title + ' | ' + author : '')
      meta(property='og:image', content=og_image ? og_image : '')
      meta(property='og:url', content=og_url ? og_url : '')
      meta(property='og:type', content='website')
      meta(property='og:locale', content='zh_TW')
      meta(property='og:site_name', content=og_title)
      meta(name='author', content=author)
      meta(name='copyright', content=author)
      if meta_keyword != ''
        meta(name='keywords', content=meta_keyword)
      //- 標準網址
      link(rel='canonical', href=og_url)
      link(rel="shortcut icon", href="./images/icon.png", type="icon")
      //- google fonts
      link(rel="preconnect", href="https://fonts.googleapis.com")
      link(rel="preconnect", href="https://fonts.gstatic.com" crossorigin)
      link(href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet")
      link(href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet")
      if hasSwiper
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css")
      link(rel="stylesheet", href="./css/style.css")

      style.
        body[scroll-block] {
          overflow: hidden;
        }

      // Google tag (gtag.js)
      script(async src="https://www.googletagmanager.com/gtag/js?id=G-ZN3P16FNYP")
      script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-ZN3P16FNYP');


  body

    if  hasNav
      nav.menu
        .container
          .menu-content
            a.menu-logo(href="/index.html")
              img.logo(src="./images/logo.svg", alt="N")
            ul.menu-row
              li.menu-item: a.menu-link(href="#skill") 關於NJ
              li.menu-item: a.menu-link(href="#experience") 工作經歷
              li.menu-item: a.menu-link(href="#project") 專案作品
              li.menu-item: a.menu-link(href="#soho") 接案作品
    block content
    block footer
      footer.footer
        .container
          .footer-content
            
            a.footer-link(href="#")
              span.material-icons-round mail_outline
              |nj.huang2.0@gmail.com
            .copy-right All Content © Copyright  2025
    block gotop
      a#gotop.gotop(href="javascript:;")
        span.material-icons-round expand_less
    block script
      script(src="./js/jquery-3.7.1.min.js")
      if hasAnimate
        script(src="./js/animate.js") 
      if hasGsap
        script(src="./js/gsap.min.js") 
        script(src="./js/ScrollTrigger.min.js") 
      if hasSwiper
        script(src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js")
      script(src="./js/main.js")